
<div class="grid text-center" style="--bs-columns: 10; --bs-gap: 1rem;">
  <h1 class="text-shadow">El aroma mágico</h1>
  <hr>
  <img src="../../../assets/cafe.png" class="img-fluid" alt="Responsive image">
  <div class="g-col-6">
    <table class="table">
      <thead>
        <tr class="table-dark">
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Tipo</th>
          <th scope="col">Región</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cafe of cafes">
          <th scope="row">{{cafe.id}}</th>
          <td>{{cafe.nombre}}</td>
          <td>{{cafe.tipo}}</td>
          <td>{{cafe.region}}</td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>